body {
    background:#DC143C;
    font-family:Arial, Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background:#D2691E;
    border-radius:5px;
}

.assignment img {
    width:200px;
    margin:10px;
    border:2px solid #6495ED;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:2px solid #556B2F;
}

h1 {
    color:yellow;
    text-align:center;
}

h2 {
    text-align:center;
}

a {
    text-decoration:none;
    color:#6495ED;
}

a:hover {
    color:#556B2F;
}